<?xml version="1.0" encoding="utf-8"?>
<cloudpanel>
  <Settings>
    <Database>server=DXN-PC\SQLEXPRESS;database=CP30901B;uid=CloudPanel;password=password;</Database>
    <CompanyName>Know More IT</CompanyName>
    <HostingOU>OU=Hosting,DC=lab,DC=local</HostingOU>
    <UsersOU></UsersOU>
    <PrimaryDC>DC.lab.local</PrimaryDC>
    <Username>LAB\Administrator</Username>
    <Password>Gep5xE+DLlRcbsjcg9u/Rw==</Password>
    <SuperAdmins>Domain Admins</SuperAdmins>
    <BillingAdmins>Domain Admins</BillingAdmins>
    <ResellersEnabled>true</ResellersEnabled>
    <SaltKey>rI1aosWPff9S5EsY+hj6Pjq0my6DcYWCscivVBr4vA0=</SaltKey>
  </Settings>
  <Exchange>
    <ExchangeRoleAssignment>Alternate Assignment Policy</ExchangeRoleAssignment>
    <ExchangeServer>EXCH2013.lab.local</ExchangeServer>
    <ExchangePFServer>EXCH2013.lab.local</ExchangePFServer>
    <ExchangePFEnabled>true</ExchangePFEnabled>
    <ExchangeArchivingEnabled>true</ExchangeArchivingEnabled>
    <ExchangeVersion>2013</ExchangeVersion>
    <ExchangeSSL>true</ExchangeSSL>
    <ExchangeMaxAliases>10</ExchangeMaxAliases>
    <ExchangeConnection>Basic</ExchangeConnection>
    <ExchangeDatabases>Mailbox Database 1047134082</ExchangeDatabases>
    <ExchangeGALName>{0} GAL</ExchangeGALName>
    <ExchangeABPName>{0} ABP</ExchangeABPName>
    <ExchangeOALName>{0} OAL</ExchangeOALName>
    <ExchangeUSERSName>{0} - All Users</ExchangeUSERSName>
    <ExchangeCONTACTSName>{0} - All Contacts</ExchangeCONTACTSName>
    <ExchangeROOMSName>{0} - All Rooms</ExchangeROOMSName>
    <ExchangeGROUPSName>{0} - All Groups</ExchangeGROUPSName>
    <ExchangeGroupsOU>Exchange</ExchangeGroupsOU>
    <ExchangeContactsOU>Exchange</ExchangeContactsOU>
    <ExchangeRoomsOU>Exchange</ExchangeRoomsOU>
    <ExchangeResourceOU>Exchange</ExchangeResourceOU>
    <ExchangeOUName>Exchange</ExchangeOUName>
  </Exchange>
  <Modules>
    <ExchangeModule>true</ExchangeModule>
    <CitrixModule>true</CitrixModule>
    <LyncModule>False</LyncModule>
  </Modules>
  <Citrix>
    <ApplicationsOUName>Applications</ApplicationsOUName>
    <DeliveryController>xendesktop.lab.local</DeliveryController>
  </Citrix>
  <Notifications>
    <Enabled>false</Enabled>
    <FromAddress></FromAddress>
    <ToAddress></ToAddress>
    <MailServer></MailServer>
    <MailPort></MailPort>
    <MailUsername></MailUsername>
    <MailPassword>1jr3Kd5dEDI=</MailPassword>
  </Notifications>
  <Advanced>
    <SamAccountNameFormat>0</SamAccountNameFormat> <!-- SAM Format. 0: Uses text before the @ in the login name; 1: Formats firstpart_domain up to 19 characters  -->
    <ADCNFormat>0</ADCNFormat> <!-- AD CN Format. 0: DisplayName; 1: UserPrincipalName -->
  </Advanced>
</cloudpanel>