@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<dynamic>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title></title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="CloudPanel">

    <!-- <link href="~/content/less/styles.less" rel="stylesheet/less" media="all">  -->
    <link rel="stylesheet" href="~/content/css/styles.css?=121">
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600' rel='stylesheet' type='text/css'>

    <link href="~/Content/plugins/sweetalert/lib/sweet-alert.css" rel="stylesheet" />
    <link href="~/Content/plugins/datatables-1.10.2/media/css/jquery.dataTables.bootstrap.css" rel="stylesheet" />

    <style type="text/css">
        #WaitMessage {
            display: none;
            text-align: center;
        }
        span.tab-space {
            padding-left: 0.5em;
        }

        td.details-control {
            background: url('@Url.Content("~/Content/img/details_open.png")') no-repeat center center;
            cursor: pointer;
        }

        tr.shown td.details-control {
            background: url('@Url.Content("~/Content/img/details_close.png")') no-repeat center center;
        }
    </style>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries. Placeholdr.js enables the placeholder attribute -->
    <!--[if lt IE 9]>
        <link rel="stylesheet" href="~/content/css/ie8.css">
        <script type="text/javascript" src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/respond.js/1.1.0/respond.min.js"></script>
        <script type="text/javascript" src="~/content/plugins/charts-flot/excanvas.min.js"></script>
    <![endif]-->
    <!-- The following CSS are included as plugins and can be removed if unused-->
    <!-- <script type="text/javascript" src="~/content/js/less.js"></script> -->
</head>
<body class="horizontal-nav">
    <div id="page-container">
        <div id="page-content">
            <div id="wrap">
                <div class="row report exchangeoverview" style="display: none">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="panel panel-midnightblue">
                                <div class="panel-heading">
                                    Overall Profits
                                </div>
                                <div class="panel-body">
                                    <div id="exchangeCostPriceProfit" style="height:250px;"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="panel panel-midnightblue">
                                <div class="panel-heading">
                                    Mailbox Plans
                                </div>
                                <div class="panel-body">
                                    <div id="exchangeMailboxPlans" style="height:250px;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                Companies
                            </div>
                            <div class="panel-body">
                                <table id="overviewTable" cellpadding="0" cellspacing="0" border="0" class="table table-condensed">
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th>Company Name</th>
                                            <th>Users</th>
                                            <th>Mailboxes</th>
                                            <th>Archives</th>
                                            <th>Profit</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td></td>
                                            <td>Loading...</td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="~/content/js/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="~/content/js/jqueryui-1.10.3.min.js"></script>
    <script type="text/javascript" src="~/content/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/content/js/enquire.js"></script>
    <script type="text/javascript" src="~/content/js/jquery.cookie.js"></script>
    <script type="text/​javascript" src="~/content/​js/​placeholdr.js">​</script>
    <script type="text/javascript" src="~/content/js/jquery.nicescroll.min.js"></script>
    <script type="text/javascript" src="~/content/js/application.js"></script>
    <script type="text/javascript" src="~/Content/plugins/pines-notify/jquery.pnotify.min.js"></script>
    <script type="text/javascript" src="~/Content/plugins/sweetalert/lib/sweet-alert.js"></script>
    <script type="text/javascript" src="~/Content/plugins/blockUI/jquery.blockUI.js"></script>
    <script type="text/javascript" src="~/Content/plugins/datatables-1.10.2/media/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="~/Content/plugins/datatables-1.10.2/media/js/dataTables.bootstrap.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {

            var overviewTable = $("#overviewTable").DataTable({
                "dom": "<'row'<'col-xs-6'l><'col-xs-6'f>r>t<'row'<'col-xs-6'i><'col-xs-6'p>>",
                "autoWidth": false,
                "language": {
                    "lengthMenu": "_MENU_ records per page",
                    "search": ""
                },
                "paging": false,
                "order": [[1, 'asc']],
                "serverSide": true,
                "processing": true,
                "ajax": {
                    type: 'GET',
                    dataType: 'json',
                    error: function (xhr) {
                        ShowError(xhr);
                    },
                },
                "columns": [
                   { "data": "companyCode", "class": "details-control", "orderable": false, "defaultContent": "", "render": function () { return "" } },
                   { "data": "companyName" },
                   { "data": "totalUsers" },
                   { "data": "totalMailboxes" },
                   { "data": "totalArchiveMailboxes" },
                   { "data": "totalPrice" },
                ],
                "createdRow": function (row, data, index) {
                    $(row).css("background-color", "#dff0d8");
                    $(row).find(".tooltip-ex").tooltip();
                }
            });

            $('#overviewTable').on('draw.dt', function (data) {
                console.log('Redraw occurred at: ' + new Date().getTime());
                console.log(data);
            });

            $('#overviewTable tbody').on('click', 'td.details-control', function () {
                var tr = $(this).closest('tr');
                var row = overviewTable.row(tr);

                if (row.child.isShown()) {
                    row.child.hide();
                    tr.removeClass('shown');
                }
                else {
                    row.child(ChildTable(row.data())).show();
                    tr.addClass('shown');
                }
            });
        });

        function GenerateTable(columns, rows) {

        }

        function ChildTable(d) {
            console.log(d);

            var header = '<div class="row"><h2>Plans</h2></div>';
            var planTable = '<table class="table table-condensed table-hover table-striped table-bordered" style="width: 70%; margin-left: 15%; margin-right: 15%"> \
                            <thead> \
                                <tr> \
                                    <th>Plan</th> \
                                    <th>User Count</th> \
                                    <th>Cost</th> \
                                    <th>Price</th> \
                                </tr> \
                            </thead> \
                            <tbody>';

            if (d.mailboxPlans.length > 0) {
                $.each(d.mailboxPlans, function (index, value) {
                    table += '<tr> \
                                <td>' + value.mailboxPlanName + '</td> \
                                <td>' + value.userCount + '</td> \
                                <td>' + value.cost + '</td> \
                                <td>' + (value.customPrice == null ? value.price : value.customPrice) + '</td> \
                              </tr>';
                });
            }

            table += '</tbody></table>';

            return header + table;
        }

        function ProfitBarChart(d) {
            var names = [[0, "Cost"], [1, "Price"], [2, "Profit"]];
            var sizes = [[0, d.totalCost], [1, d.totalPrice], [2, d.totalProfit]];

            var ds = [];
            ds.push({ data: sizes, label: "", bars: { show: true, barWidth: 0.2, order: 1 } });

            $.plot($("#exchangeCostPriceProfit"), ds, {
                series: { bars: { show: true, fill: 0.75, 'align': "center" } },
                grid: { hoverable: true, clickable: false, borderWidth: 0 },
                xaxis: { tickColor: "transparent", ticks: names, tickDecimals: 2, font: { color: '#8c8c8c', size: 12 } },
                yaxis: { tickDecimals: 2 },
                legend: { labelBoxBorderColor: 'transparent' }
            });

            var previousPointBar = null;
            $("#exchangeCostPriceProfit").bind("plothover", function (event, pos, item) {
                $("#x").text(pos.x.toFixed(2));
                $("#y").text(pos.y.toFixed(2));
                if (item) {
                    if (previousPointBar != item.dataIndex) {
                        previousPointBar = item.dataIndex;

                        $("#tooltip").remove();
                        var x = item.datapoint[0].toFixed(2),
                            y = item.datapoint[1].toFixed(2);

                        showTooltip(item.pageX + 20, item.pageY, y);

                    }
                } else {
                    $("#tooltip").remove();
                    previousPointBar = null;
                }
            });
        }

        function ShowError(data) {
            if (data.hasOwnProperty("responseJSON")) {
                swal("Error!", data.responseJSON.error, "error");
            } else if (data.hasOwnProperty("statusText")) {
                swal("Error!", data.status + ": " + data.statusText, "error");
            } else {
                swal("Error!", data, "error");
            }
        }

        function bytesToSize(bytes) {
            var sizes = ['Bytes', 'KB', 'MB', 'GB', 'TB'];
            if (bytes == 0) return 'n/a';
            var i = parseInt(Math.floor(Math.log(bytes) / Math.log(1024)));
            if (i == 0) return bytes + ' ' + sizes[i];
            return (bytes / Math.pow(1024, i)).toFixed(1) + ' ' + sizes[i];
        };
    </script>
</body>
</html>
