@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<dynamic>
@using CloudPanel

@{
    Layout = "__master.cshtml";
}

@section HEAD{
}

<div id="page-heading">
    <ol class="breadcrumb">
        <li><a href="~/dashboard">Dashboard</a></li>
        <li class="active">Reports</li>
    </ol>

    <h1>Reports</h1>
</div>

<div class="container">
    <div class="row">
        <div class="panel panel-primary">
            <div class="panel-body">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Product</th>
                            <th>Details</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Exchange</td>
                            <td>Summary report that shows costs, profits, and a break down of plans on a per company basis</td>
                            <td><a href="~/Reports/exchange/summary" class="btn btn-primary" target="_blank" role="button">Run</a></td>
                        </tr>
                        <tr>
                            <td>Exchange</td>
                            <td>Detailed report that shows a break down of plans on a per user basis along witd mailbox sizes</td>
                            <td><a href="~/Reports/exchange/detailed" class="btn btn-primary" target="_blank" role="button">Run</a></td>
                        </tr>
                        <tr>
                            <td>Citrix</td>
                            <td>Summary report that shows a break down of Citrix desktop groups and applications on a per company basis</td>
                            <td><a href="~/reports/citrix/summary" class="btn btn-primary" target="_blank" role="button">Run</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section JAVASCRIPT{
    <script type="text/javascript">
        $(document).ready(function () {

        });
    </script>
}