@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<dynamic>

@{
    Layout = "__master.cshtml";
}

@section HEAD{
}

<div id="page-heading">
    <ol class="breadcrumb">
        <li><a href="~/dashboard">Dashboard</a></li>
        <li class="active">Reports</li>
    </ol>

    <h1>Reports</h1>
</div>

<div class="container">
    <div class="row">
        <div class="panel panel-primary">
            <div class="panel-body">
                <div class="col-sm-6 col-md-4">
                    <div class="thumbnail">
                        <img src="~/Content/img/reports/ExchangeSummary.png" alt="Exchange Summary" />
                        <div class="caption">
                            <h3>Exchange Summary</h3>
                            <p>Run a report to view information on a per company basis. This report includes costs, profits, top mailbox plans, archiving information, and much more. </p>
                            <p><a href="~/Reports/exchange/summary" class="btn btn-primary" role="button">Run</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section JAVASCRIPT{
    <script type="text/javascript">
        $(document).ready(function () {

        });
    </script>
}