@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<dynamic>

@{
    Layout = "__master.cshtml";
}

@section HEAD{
    <link href="~/Content/plugins/datatables-1.10.2/media/css/jquery.dataTables.bootstrap.css" rel="stylesheet" />
    <link href="~/Content/plugins/form-parsley-new/parsley.css" rel="stylesheet" />
    <style type="text/css">
        span.tab-space {
            padding-left: 0.5em;
        }
        td.details-control {
	        background: url('@Url.Content("~/Content/img/details_open.png")') no-repeat center center;
	        cursor: pointer;
        }
        tr.shown td.details-control {
	        background: url('@Url.Content("~/Content/img/details_close.png")') no-repeat center center;
        }
</style>
}

<div id="page-heading">
    <ol class="breadcrumb">
        <li><a href="~/dashboard">Dashboard</a></li>
        <li class="active">Citrix Plans</li>
    </ol>

    <h1>Citrix Plans</h1>
</div>

<form id="form" action="" method="post" data-parsley-validate>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-primary">
                    <div class="panel-heading">Desktop Groups</div>
                    <div class="panel-body">
                        <table id="desktopGroupTable" cellpadding="0" cellspacing="0" border="0" class="table table-bordered datatables">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>Name</th>
                                    <th>Description</th>
                                    <th>Last Retrieved</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td></td>
                                    <td>Loading...</td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

@section JAVASCRIPT{
    <script src="~/Content/plugins/datatables-1.10.2/media/js/jquery.dataTables.min.js"></script>
    <script src="~/Content/plugins/datatables-1.10.2/media/js/dataTables.bootstrap.js"></script>
    <script src="~/Content/plugins/form-parsley-new/parsley.min.js"></script>
    <script src="~/Content/plugins/moment/moment-with-locales.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            LoadCitrixPlans();
        });

        function LoadCitrixPlans() {
            var desktopGroupTable = $("#desktopGroupTable").DataTable({
                "dom": "<'row'<'col-xs-6'l><'col-xs-6'f>r>t<'row'<'col-xs-6'i><'col-xs-6'p>>",
                "autoWidth": false,
                "language": {
                    "lengthMenu": "_MENU_ records per page",
                    "search": ""
                },
                "paging": false,
                "order": [[1, 'asc']],
                "serverSide": true,
                "processing": true,
                "ajax": {
                    type: 'GET',
                    url: "@Url.Content("~/plans/citrix")",
                    dataType: 'json',
                    error: function (xhr) {
                        console.log(xhr);
                        ShowError(xhr);
                    }
                },
                "columns": [
                   { "data": "desktopGroupID", "class": "details-control", "orderable": false, "defaultContent": "", "render": function () { return "" } },
                   { "data": "name" },
                   { "data": "description" },
                   { "data": "lastRetrieved", "render": function (data, type, full, meta) { return moment(data).format('LLLL'); } },
                ],
                "createdRow": function (row, data, index) {
                    $(row).css("background-color", "#dff0d8");
                    $(row).find(".tooltip-ex").tooltip();
                }
            });

            // Renders child rows
            $('#desktopGroupTable tbody').on('click', 'td.details-control', function () {
                var tr = $(this).closest('tr');
                var row = desktopGroupTable.row(tr);

                if (row.child.isShown()) {
                    row.child.hide();
                    tr.removeClass('shown');
                }
                else {
                    row.child(FormatChildTable(row.data())).show();
                    tr.addClass('shown');
                }
            });
        }

        function FormatChildTable(d) {
            console.log(d);
            var table = '<table class="table table-condensed table-hover table-striped table-bordered" style="width: 70%; margin-left: 15%; margin-right: 15%"> \
                            <thead> \
                                <tr> \
                                    <th>Company</th> \
                                    <th>User Count</th> \
                                </tr> \
                            </thead> \
                            <tbody>';

            if (d.companies.length > 0) {
                $.each(d.companies, function (index, value) {
                    table += '<tr> \
                                <td>' + value.companyName + '</td> \
                                <td>' + value.totalUsers + '</td> \
                              </tr>';
                });
            }

            table += '</tbody></table>';

            return table;
        }
    </script>
}