@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<dynamic>
@using CloudPanel

@{
    Layout = "__master.cshtml";

    string companyCode = this.RenderContext.Context.Parameters.CompanyCode;
}

@section HEAD{

}

<div id="page-heading">
    <ol class="breadcrumb">
        <li><a href="~/dashboard">Dashboard</a></li>
        <li><a href="~/company/@companyCode/overview">@this.RenderContext.Context.GetCompanyName()</a></li>
        <li><a href="#">Citrix</a></li>
        <li class="active">Desktop Groups</li>
    </ol>

    <h1>Citrix Desktop Groups</h1>
</div>

<div class="container">
    <div class="row">
        <form id="form" action="" method="post" data-parsley-validate>
            <div class="col-md-3">
                <div class="panel">
                    <a href="javascript:;" class="btn btn-primary btn-lg col-xs-12">Groups</a>
                </div>
                <hr />
                <div class="panel">
                    <div class="list-group">
                        @if (Model.groups != null)
                        {
                            foreach (CloudPanel.Base.Database.Models.CitrixDesktopGroups group in Model.groups)
                            {
                                <a href="~/company/@companyCode/citrix/groups" class="list-group-item"><i class="fa fa-desktop"></i> @group.PublishedName</a>
                            }
                        }
                    </div>
                </div>
            </div>

            <div class="col-md-9">
                <div class="panel panel-primary">
                    <div class="panel-heading">Users</div>
                    <div class="panel-body form-horizontal row-border">

                    </div>
                    <div class="panel-footer">
                        <div class="row">
                            <div class="btn-toolbar text-right">
                                <button class="btn-primary btn" type="submit">Save</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

@section JAVASCRIPT{
    <script type="text/javascript">
        $(document).ready(function () {

        });
    </script>
}