@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<dynamic>
@using CloudPanel

@{
    Layout = "__master.cshtml";
}


<div id="page-heading">
    <ol class="breadcrumb">
        <li><a href="~/dashboard">Dashboard</a></li>
        <li><a href="~/company/@this.RenderContext.Context.GetCompanyCode()/overview">@this.RenderContext.Context.GetCompanyName()</a></li>
        <li>Exchange</li>
        <li class="active">Enable</li>
    </ol>

    <h1>Enable Exchange</h1>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-primary">
                <div class="panel-heading">Enable Exchange</div>
                <div class="panel-body">
                    <form id="enableExchange">
                        <p class="text-center">
                            Enabling Exchange will allow your company to create mailboxes and other Exchange objects. Are you sure you want to continue?
                            <br />
                            <br />
                            <button type="submit" class="btn btn-primary">Enable</button>
                        </p>
                    </form>
                </div>
                <div class="panel-footer"></div>
            </div>
        </div>
    </div>
</div>

@section JAVASCRIPT{
    <script type="text/javascript">
        $(document).ready(function () {
            $("#enableExchange").submit(function (event) {
                event.preventDefault();

                $.blockUI();
                $.post("").done(function (returnData) {
                    swal({
                        title: "Success!",
                        text: returnData.success,
                        type: "success",
                        showCancelButton: false,
                        closeOnConfirm: false
                    }, function () {
                        document.location.href = "@Url.Content("~/company/"+this.RenderContext.Context.GetCompanyCode()+"/exchange/disable")";
                    });
                }, 'json').fail(function (returnData) {
                    ShowError(returnData);
                }).always(function () {
                    $.unblockUI();
                });
            });
        });
    </script>
}