@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<dynamic>
@using CloudPanel

@{
    Layout = "__master.cshtml";
}
@section HEAD{
    <link href="~/Content/plugins/datatables-1.10.2/media/css/jquery.dataTables.bootstrap.css" rel="stylesheet" />
    <link href="~/Content/js/jqueryui.min.css" rel="stylesheet" />
    <link href="~/Content/plugins/form-parsley-new/parsley.css" rel="stylesheet" />
}

<div id="page-heading">
    <ol class="breadcrumb">
        <li><a href="~/dashboard">Dashboard</a></li>
        <li><a href="~/company/@this.RenderContext.Context.GetCompanyCode()/overview">@this.RenderContext.Context.GetCompanyName()</a></li>
        <li><a href="#">Exchange</a></li>
        <li class="active">Resource Mailboxes</li>
    </ol>

    <h1>Resource Mailboxes</h1>
    <div class="options">
        <div class="btn-toolbar">
            <a href="#" class="btn btn-primary hidden-xs" data-toggle="modal" data-target="#newModal">Add New</a>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-primary">
                <div class="panel-heading">Current Resource Mailboxes</div>
                <div class="panel-body">
                    <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered datatables" id="dataTable">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Display Name</th>
                                <th>Email</th>
                                <th>Mailbox Plan</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th></th>
                                <td>Loading...</td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="panel-footer"></div>
            </div>
        </div>
    </div>
</div>

<!-- New Modal -->
<form id="newForm" action="" method="post" data-parsley-validate>
    <div id="newModal" class="modal fade">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title">New Resource Mailbox</h4>
                </div>
                <div class="modal-body">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label for="focusedinput" class="col-sm-3 control-label">Type</label>
                            <div class="col-sm-9">
                                <label class="radio-inline">
                                    <input type="radio" name="ResourceType" value="Room" checked data-parsley-ui-enabled="false"> Room
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="ResourceType" value="Equipment"> Equipment
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="ResourceType" value="Shared"> Shared Mailbox
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="focusedinput" class="col-sm-3 control-label">Display Name</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="DisplayName" name="DisplayName" data-parsley-required="true">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="focusedinput" class="col-sm-3 control-label">Email</label>
                            <div class="col-sm-9">
                                <div class="input-group">
                                    <input type="text" class="form-control" id="EmailFirst" name="EmailFirst" data-parsley-required="true">
                                    <span class="input-group-addon">@@</span>
                                    @CloudPanel.CPHtmlHelpers.GetAcceptedDomains(this.RenderContext.Context.GetCompanyCode(), "EmailDomain")
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Plan</label>
                            <div class="col-sm-6">
                                @CloudPanel.CPHtmlHelpers.GetMailboxPlans(0, this.RenderContext.Context.GetCompanyCode(), "", "MailboxPlan")
                                <p id="mailboxPlanDescription"></p>
                            </div>
                        </div>
                        <div id="sliderDiv" class="form-group">
                            <label class="col-sm-3 control-label">Size</label>
                            <div class="col-sm-6" style="padding-top: 13px">
                                <div id="slider-range-min" class="slider bg-yellow"></div>
                            </div>
                            <div class="col-sm-3">
                                <p class="help-block">
                                    <div class="slider-value">
                                        <span class="slider-value" id="slider-range-min-amount"></span>
                                        <input id="SizeInMB" name="SizeInMB" type="hidden" />
                                    </div>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </div>
        </div>
    </div>
</form>

<!-- Delete Modal -->
<form id="deleteForm" action="" method="post">
    <input type="hidden" name="_method" value="DELETE" />
    <div id="deleteModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title">Edit Reseller</h4>
                </div>
                <div class="modal-body">
                    <p>Are you sure you want to delete this reseller?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-danger">Delete</button>
                </div>
            </div>
        </div>
    </div>
</form>

@section JAVASCRIPT{
    <script src="~/Content/plugins/datatables-1.10.2/media/js/jquery.dataTables.min.js"></script>
    <script src="~/Content/plugins/datatables-1.10.2/media/js/dataTables.bootstrap.js"></script>
    <script src="~/Content/plugins/form-parsley-new/parsley.min.js"></script>
    <script src="~/Content/plugins/moment/moment-with-locales.js"></script>
    <script src="~/Content/js/cloudpanel.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            AddFormHandlers();

            $("#dataTable").DataTable({
                "serverSide": true,
                "processing": true,
                "ajax": {
                    type: 'GET',
                    dataType: 'json'
                },
                "columns": [
                    { 
                        "data": "resourceType", "className": "text-center", "render": function (data, type, full, meta) {
                            if (data == "Room") {
                                return "<i class=\"fa fa-building\"></i>";
                            } else if (data == "Equipment") {
                                return "<i class=\"fa fa-wrench\"></i>";
                            } else if (data == "Shared") {
                                return "<i class=\"fa fa-group\"></i>";
                            } else {
                                return "<i class=\"fa fa-question\"></i>";
                            }
                        }
                    },
                    { "data": "displayName" },
                    { "data": "primarySmtpAddress" },
                    { "data": "mailboxPlanName" },
                    {
                        "data": "resourceID", "orderable": false, "className": "text-right", "render": function (data, type, full, meta) {
                            return GetButton(data, full["userPrincipalName"]);
                        }
                    },
                ]
            });

            $("#MailboxPlan").change(function () {
                var option = $("#MailboxPlan option:selected");
                SetSlider(option.data("size"), option.data("maxsize"), option.data("size"), option.data("description"));
            });

            var option = $("#MailboxPlan option:selected");
            SetSlider(option.data("size"), option.data("maxsize"), option.data("size"), option.data("description"));
        });

        function SetSlider(min, max, selectedValue, description) {
            if (min == 0) {
                $("#sliderDiv").hide();
                $("#SizeInMB").val("0");
            }
            else {
                $("#sliderDiv").show();
                $("#slider-range-min").slider({
                    range: "min",
                    value: selectedValue,
                    step: 256,
                    min: min,
                    max: max,
                    change: function (event, ui) {
                        $("#slider-range-min-amount").text(ui.value + "MB");
                        $("#SizeInMB").val(ui.value);
                    }
                });

                $("#slider-range-min-amount").text(selectedValue + "MB");
                $("#SizeInMB").val(selectedValue);
            }

            $("#mailboxPlanDescription").text(description)
        }

        function AddFormHandlers()
        {
            $("#newForm").submit(function (event) {
                event.preventDefault();
                var data = $("#newForm").serialize();

                $.blockUI();
                $.post("", data).done(function (returnData) {
                    $("#newModal").modal("hide");
                    ReloadTable("dataTable");
                    ShowSuccess(returnData.success);
                }).fail(function (returnData) {
                    ShowError(returnData.responseJSON.error);
                }).always(function () {
                    $.unblockUI();
                });
            });
        }

        function DeleteResource(resourceUPN) {
            swal({
                title: "Delete " + resourceUPN + "?",
                text: "This action is not reversable",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "Yes",
                cancelButtonText: "No",
                closeOnConfirm: false,
                closeOnCancel: true
            },
            function (isconfirm) {
                if (isconfirm) {
                    $.blockUI();
                    $.ajax({
                        type: "DELETE",
                        data: { UserPrincipalName: resourceUPN }
                    }).done(function () {
                        ReloadTable("dataTable");
                        ShowAlert("Deleted!", "Resource was successfully deleted", "success");
                    }).fail(function (returnData) {
                        ShowError(returnData.responseJSON.error);
                    }).always(function () {
                        $.unblockUI();
                    });
                }
            });
        }

        function GetButton(id, upn) {
            return '<div class="btn-group"> \
                            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown"> \
                                Modify <span class="caret"></span> \
                            </button> \
                            <ul class="dropdown-menu" role="menu"> \
                                <li><a href="@Url.Content("~/company/" + this.RenderContext.Context.GetCompanyCode())' + '/exchange/resourcemailboxes/'+upn+'">Edit</a></li> \
                                <li><a href="javascript:DeleteResource(\''+upn+'\');">Delete</a></li> \
                            </ul> \
                    </div>';
        }
    </script>
}