@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<dynamic>
@using CloudPanel.Base.Config
@using CloudPanel

@{
    bool isSuperAdmin = this.RenderContext.Context.IsSuperAdmin();
    bool isResellerAdmin = this.RenderContext.Context.IsResellerAdmin();
    bool isResellersEnabled = Settings.ResellersEnabled;

    string resellerCode = this.RenderContext.Context.GetResellerCode();
    string companyCode = this.RenderContext.Context.GetCompanyCode();
}

<nav id="page-leftbar" role="navigation" class="hidden-print">
    <ul class="acc-menu" id="sidebar">
        <li><a href="~/dashboard"><i class="fa fa-home"></i> <span>Dashboard</span></a></li>
        @if (isSuperAdmin || isResellerAdmin)
        {
            @if (isSuperAdmin && isResellersEnabled)
            {
                <li><a href="~/resellers"><i class="fa fa-users"></i> <span>Resellers</span></a></li>
            }
            @if (!string.IsNullOrEmpty(resellerCode) || !isResellersEnabled)
            {
                <li><a href="@Url.Content("~/companies/" + (isResellersEnabled ? resellerCode : ""))"><i class="fa fa-building"></i> <span>Companies</span></a></li>
            }
            @if (isSuperAdmin)
            {
                <li>
                    <a href="javascript:;"><i class="fa fa-pencil"></i> <span>Plans</span> </a>
                    <ul class="acc-menu">
                        <li><a href="~/plans/company/new">Company</a></li>
                        @if (Settings.CitrixModule)
                        {
                            <li><a href="~/plans/citrix">Citrix</a></li>
                        }
                        @if (Settings.ExchangeModule)
                        {
                            <li>
                                <a href="javascript:;">Exchange</a>
                                <ul class="acc-menu">
                                    <li><a href="~/plans/exchange/activesync/new">Activesync Plans</a></li>
                                    <li><a href="~/plans/exchange/archiving/new">Archiving Plans</a></li>
                                    <li><a href="~/plans/exchange/mailbox/new">Mailbox Plans</a></li>
                                </ul>
                            </li>
                        }
                        @if (Settings.LyncModule)
                        {
                            <li><a href="~/plans/lync">Lync</a></li>
                        }
                    </ul>
                </li>
                <li><a href="~/reports"><i class="fa fa-bar-chart-o"></i> <span>Reports</span></a></li>
                <li><a href="~/admin/settings"><i class="fa fa-gears"></i> <span>Settings</span></a></li>
            }
            <li>
                <a href="javascript:;"><i class="fa fa-outdent"></i> <span>Other</span> </a>
                <ul class="acc-menu">
                    <li><a href="~/admin/brandings/new">Company Brandings</a></li>
                    <li><a href="~/admin/email">Mass Email</a></li>
                </ul>
            </li>
            <li class="divider"></li>
        }
        @if (!string.IsNullOrEmpty(companyCode)) { 
            <li><a href="~/company/@companyCode/overview"><i class="fa fa-dashboard"></i> <span>Overview</span></a></li>
            <li><a href="~/company/@companyCode/domains"><i class="fa fa-globe"></i> <span>Domains</span></a></li>
            <li><a href="javascript:;"><i class="fa fa-user"></i> <span>Users</span></a>
                <ul class="acc-menu">
                    <li><a href="~/company/@companyCode/users">Users</a></li>
                    <li><a href="~/company/@companyCode/permissions/new">Permissions</a></li>
                </ul>
            </li>
            @if (Settings.ExchangeModule) {
                <li>
                    <a href="javascript:;"><i class="fa fa-envelope"></i> <span>Exchange</span> </a>
                    <ul class="acc-menu">
                        @if (!CloudPanel.CPStaticHelpers.IsExchangeEnabled(companyCode)) { 
                            <li><a href="~/company/@companyCode/exchange/enable">Enable</a></li>
                        }
                        else { 
                            <li><a href="~/company/@companyCode/exchange/disable">Disable</a></li>
                            <li><a href="~/company/@companyCode/exchange/activesync/new">ActiveSync Plans</a></li>
                            <li><a href="~/company/@companyCode/exchange/bulk">Bulk Modification</a></li>
                            <li><a href="~/company/@companyCode/exchange/contacts">Contacts</a></li>
                            <li><a href="~/company/@companyCode/exchange/groups">Distribution Groups</a></li>
                            <li><a href="~/company/@companyCode/exchange/publicfolders">Public Folders</a></li>
                            <li><a href="~/company/@companyCode/exchange/resourcemailboxes">Resource Mailboxes</a></li>
                        }
                    </ul>
                </li>
            }
            @if (Settings.CitrixModule) {
                <li>
                    <a href="javascript:;"><i class="fa fa-tablet"></i> <span>Citrix</span> </a>
                    <ul class="acc-menu">
                        <li><a href="~/company/@companyCode/citrix/sessions">Citrix</a></li>
                    </ul>
                </li>
            }
            <li><a href="~/company/@companyCode/billing"><i class="fa fa-money"></i> <span>Billing</span></a></li>
        }
    </ul>
</nav>