@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<dynamic>
@using CloudPanel.Base.Config
@using CloudPanel

@{
    bool isSuperAdmin = this.RenderContext.Context.IsSuperAdmin();
    bool isResellerAdmin = this.RenderContext.Context.IsResellerAdmin();
    bool isResellersEnabled = Settings.ResellersEnabled;

    string resellerCode = this.RenderContext.Context.GetResellerCode();
    string companyCode = this.RenderContext.Context.GetCompanyCode();
}

<nav class="navbar navbar-default yamm hidden-print" role="navigation">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <i class="fa fa-bars"></i>
        </button>
    </div>
    <div class="collapse navbar-collapse navbar-ex1-collapse @((Model != null && Model == true) ? "large-icons-nav" : "")" id="horizontal-navbar">
        <ul class="nav navbar-nav">
            @if (isSuperAdmin || isResellerAdmin)
            {
                <li><a href="~/dashboard"><i class="fa fa-home"></i> <span>Dashboard</span></a></li>
                
                @if (isSuperAdmin && isResellersEnabled)
                {
                    <li><a href="~/resellers"><i class="fa fa-users"></i> <span>Resellers</span></a></li>
                }
                @if (!string.IsNullOrEmpty(resellerCode) || !isResellersEnabled)
                {
                    <li><a href="@Url.Content("~/companies/" + (isResellersEnabled ? resellerCode : ""))"><i class="fa fa-building"></i> <span>Companies</span></a></li>
                }
                @if (isSuperAdmin)
                {
                    <li class="dropdown">
                        <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-cubes"></i> <span>Modules <i class="fa fa-angle-down"></i></span></a>
                        <ul class="dropdown-menu">
                            @if (Settings.CitrixModule)
                            {
                                <li><a href="~/citrix">Citrix Desktop Groups</a></li>
                                <li><a href="~/citrix/sessions">Citrix Sessions</a></li>
                            }
                            <li><a href="~/admin/brandings/new">Company Branding</a></li>
                            <li><a href="~/admin/email">Mass Email</a></li>
                        </ul>
                    </li>
                    
                    <li class="dropdown">
                        <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-pencil"></i> <span>Plans <i class="fa fa-angle-down"></i></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="~/plans/company/new">Company</a></li>
                            @if (Settings.ExchangeModule)
                            {
                                <li><a href="~/plans/exchange/activesync/new">Activesync Plans</a></li>
                                <li><a href="~/plans/exchange/archiving/new">Archiving Plans</a></li>
                                <li><a href="~/plans/exchange/mailbox/new">Mailbox Plans</a></li>
                            }
                        </ul>
                    </li>
                    <li><a href="~/admin/reports"><i class="fa fa-bar-chart-o"></i> <span>Reports</span></a></li>
                }
            }
            @if (!string.IsNullOrEmpty(companyCode))
            {
                <li><a href="~/company/@companyCode/overview"><i class="fa fa-dashboard"></i> <span>Overview</span></a></li>
                <li><a href="~/company/@companyCode/domains"><i class="fa fa-globe"></i> <span>Domains</span></a></li>
                <li><a href="~/company/@companyCode/users"><i class="fa fa-user"></i> <span>Users</span></a></li>
                <li><a href="~/company/@companyCode/permissions/new"><i class="fa fa-lock"></i> <span>Permissions</span></a></li>
                @if (Settings.ExchangeModule)
                {
                    <li class="dropdown">
                        <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-envelope"></i> <span>Exchange <i class="fa fa-angle-down"></i></span></a>
                        <ul class="dropdown-menu">
                            @if (!CloudPanel.CPStaticHelpers.IsExchangeEnabled(companyCode))
                            {
                                <li><a href="~/company/@companyCode/exchange/enable">Enable</a></li>
                            }
                            else
                            {
                                <li><a href="~/company/@companyCode/exchange/disable">Disable</a></li>
                                <li><a href="~/company/@companyCode/exchange/activesync/new">ActiveSync Plans</a></li>
                                <li><a href="~/company/@companyCode/exchange/bulk">Bulk Modification</a></li>
                                <li><a href="~/company/@companyCode/exchange/contacts">Contacts</a></li>
                                <li><a href="~/company/@companyCode/exchange/groups">Distribution Groups</a></li>
                                <!--<li><a href="~/company/@companyCode/exchange/publicfolders">Public Folders</a></li>-->
                                <li><a href="~/company/@companyCode/exchange/resourcemailboxes">Resource Mailboxes</a></li>
                            }
                        </ul>
                    </li>
                }
                @if (Settings.CitrixModule) {
                    <li class="dropdown">
                        <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-tablet"></i> <span>Citrix <i class="fa fa-angle-down"></i></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="~/company/@companyCode/citrix/desktopgroups">Desktop Groups</a></li>
                        </ul>
                    </li>
                }
                @if (isSuperAdmin || isResellerAdmin) {
                    <li><a href="~/company/@companyCode/billing"><i class="fa fa-money"></i> <span>Billing</span></a></li>
                }
            }
        </ul>
    </div>
</nav>