@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<dynamic>

@{
    Layout = "__master.cshtml";
}
@section HEAD{
}

<div id="page-heading">
</div>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-danger">
                <div class="panel-heading">Error</div>
                <div class="panel-body">
                    <p class="text-center">
                        <span class="text-danger" style="font-size:4em;">Oops!</span>
                    </p>
                    <p class="text-center">Something went terribly wrong.</p>
                    <p class="text-center">We are fixing it. Please try again later.</p>

                    <br />
                    <br />

                    <pre>@ViewBag.error</pre>

                    <br />
                    <br />
                </div>
                <div class="panel-footer"></div>
            </div>
        </div>
    </div>
</div>