@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<dynamic>
@{var branding = CloudPanel.Modules.BrandingModule.GetBranding(Url.RenderContext.Context.Request.Url.HostName);}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>CloudPanel</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="CloudPanel">
    <meta name="author" content="KnowMoreIT - Jacob Dixon">

    <!-- <link href="~/content/less/styles.less" rel="stylesheet/less" media="all"> -->
    <link rel="stylesheet" href="~/content/css/styles.css">
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600' rel='stylesheet' type='text/css'>
    <link href="~/Content/plugins/form-parsley-new/parsley.css" rel="stylesheet" />

    <!-- <script type="text/javascript" src="~/content/js/less.js"></script> -->
</head>
<body class="focusedform">
    <form id="loginForm" action="@Url.Content("~/login")" method="post" data-parsley-validate>
        <div class="verticalcenter">
            <a href="~/"><img src="@Url.Content(branding.LoginLogo)" alt="Logo" class="brand" /></a>
            <div class="panel panel-primary">
                <div class="panel-body">
                    <h4 class="text-center" style="margin-bottom: 25px;">Log in to get started</h4>

                    <div id="EnableJavascript" class="well well-sm">
                        The javascript in your browser is not enabled. You must enable javascript before continuing.
                    </div>

                    <div id="EnableCookies" class="well well-sm">
                        Cookies are not enabled in your browser and must be enabled before continuing.
                    </div>

                    <div id="BrowserOutOfDate" class="well well-sm" style="display: none">
                        Your browser is either not supported or  out of date and must be updated before continuing.
                    </div>

                    <div class="form-horizontal" style="margin-bottom: 0px !important;">
                        <div class="form-group">
                            <div class="col-sm-12">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-user"></i></span>
                                    <input type="text" class="form-control" id="username" name="username" placeholder="Username" data-parsley-required="true" data-parsley-type="email">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-12">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                                    <input type="password" class="form-control" id="password" name="password" placeholder="Password" data-parsley-required="true">
                                </div>
                            </div>
                        </div>
                        <div class="clearfix">
                            <span class="text-danger">@ViewBag.LoginError</span>
                            <div class="pull-right"><label><input id="RememberMe" name="RememberMe" type="checkbox" style="margin-bottom: 20px" checked=""> Remember Me</label></div>
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <div class="pull-right">
                        <input id="btnLogin" type="submit" value="Log In" class="btn btn-primary" disabled="disabled" />
                    </div>
                </div>
            </div>
        </div>
    </form>

    <script src="~/Content/js/jquery-1.10.2.min.js"></script>
    <script src="~/Content/js/jquery.cookie.js"></script>
    <script src="~/Content/js/placeholdr.js"></script>
    <script src="~/Content/plugins/form-parsley-new/parsley.min.js"></script>
    <script type="text/javascript">
        var jsEnabled = false;
        var ckEnabled = false;

        var $buoop = {
            vs: { i: 8, f: 20, o: 15, s: 6, c: 2 },
            reminder: 0,
            onshow: function (infos) {
                $("#BrowserOutOfDate").show();
                $("input[type=submit]").attr('disabled', 'disabled');
            },
            onclick: function (infos) { },
            l: false,
            test: false,
            newwindow: true
        };

        function $buo_f() {
            var e = document.createElement("script");
            e.src = "//browser-update.org/update.js";
            document.body.appendChild(e);
        };
        try { document.addEventListener("DOMContentLoaded", $buo_f, false) }
        catch (e) { window.attachEvent("onload", $buo_f) }

        $(document).ready(function () {
            jsEnabled = true;

            var TEST_COOKIE = 'test_cookie';
            jQuery.cookie(TEST_COOKIE, true);
            if (jQuery.cookie(TEST_COOKIE)) {
                jQuery.cookie(TEST_COOKIE, null);
                ckEnabled = true;
            }

            if (jsEnabled)
                $("#EnableJavascript").hide();

            if (ckEnabled)
                $("#EnableCookies").hide();

            if (jsEnabled && ckEnabled)
                $("input[type=submit]").removeAttr("disabled");
        });
    </script>
</body>
</html>