@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<dynamic>

@{
    Layout = "__master.cshtml";
}
@section HEAD{
    <link href="~/Content/plugins/datatables-1.10.2/media/css/jquery.dataTables.bootstrap.css" rel="stylesheet" />
    <link href="~/Content/plugins/form-parsley-new/parsley.css" rel="stylesheet" />
    <link href="~/Content/plugins/form-select2/select2.css" rel="stylesheet" />
    <link href="~/Content/css/wait.css" rel="stylesheet" />
}

<div id="page-heading">
    <ol class="breadcrumb">
        <li><a href="~/dashboard">Dashboard</a></li>
        <li class="active">Resellers</li>
    </ol>

    <h1>Resellers</h1>
    <div class="options">
        <div class="btn-toolbar">
            <a href="#" class="btn btn-primary hidden-xs" data-toggle="modal" data-target="#addModal">Add New</a>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-primary">
                <div class="panel-heading">Select a Reseller</div>
                <div class="panel-body">
                    <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered datatables" id="dataTable">
                        <thead>
                            <tr>
                                <th>Company Name</th>
                                <th>Company Code</th>
                                <th>Created</th>
                                <th>Total Companies</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Loading...</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="panel-footer"></div>
            </div>
        </div>
    </div>
</div>

<!-- Add Modal -->
<form id="addForm" action="" method="post" data-parsley-validate>
    <div id="addModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title">Add Reseller</h4>
                </div>
                <div class="modal-body">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label for="focusedinput" class="col-sm-3 control-label">Company Name</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="CompanyName" name="CompanyName" data-parsley-required="true">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="focusedinput" class="col-sm-3 control-label">Contact Name</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="AdminName" name="AdminName" data-parsley-required="true">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="focusedinput" class="col-sm-3 control-label">Contact Email</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="AdminEmail" name="AdminEmail" data-parsley-required="true" data-parsley-type="email">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="focusedinput" class="col-sm-3 control-label">Telephone</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="PhoneNumber" name="PhoneNumber" data-parsley-required="true">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="focusedinput" class="col-sm-3 control-label">Street</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="Street" name="Street">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="focusedinput" class="col-sm-3 control-label">City</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="City" name="City">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="focusedinput" class="col-sm-3 control-label">State</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="State" name="State">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="focusedinput" class="col-sm-3 control-label">Postal Code</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="ZipCode" name="ZipCode">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="focusedinput" class="col-sm-3 control-label">Country</label>
                            <div class="col-sm-9">
                                @CloudPanel.CPHtmlHelpers.GetCountries("")
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="focusedinput" class="col-sm-3 control-label">Website</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="Website" name="Website" data-parsley-type="url">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Add</button>
                </div>
            </div>
        </div>
    </div>
</form>

<!-- Edit Modal -->
<form id="editForm" action="" method="post">
    <input type="hidden" name="_method" value="PUT" />
    <div id="editModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title">Edit Reseller</h4>
                </div>
                <div class="modal-body">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label for="focusedinput" class="col-sm-3 control-label">Company Name</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="CompanyName" name="CompanyName" data-parsley-required="true">
                                <input id="CompanyCode" name="CompanyCode" type="hidden" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="focusedinput" class="col-sm-3 control-label">Contact Name</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="AdminName" name="AdminName" data-parsley-required="true">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="focusedinput" class="col-sm-3 control-label">Contact Email</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="AdminEmail" name="AdminEmail" data-parsley-required="true" data-parsley-type="email">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="focusedinput" class="col-sm-3 control-label">Telephone</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="PhoneNumber" name="PhoneNumber" data-parsley-required="true">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="focusedinput" class="col-sm-3 control-label">Street</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="Street" name="Street">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="focusedinput" class="col-sm-3 control-label">City</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="City" name="City">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="focusedinput" class="col-sm-3 control-label">State</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="State" name="State">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="focusedinput" class="col-sm-3 control-label">Postal Code</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="ZipCode" name="ZipCode">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="focusedinput" class="col-sm-3 control-label">Country</label>
                            <div class="col-sm-9">
                                @CloudPanel.CPHtmlHelpers.GetCountries("")
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="focusedinput" class="col-sm-3 control-label">Website</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="Website" name="Website" data-parsley-type="url">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </div>
        </div>
    </div>
</form>

<!-- Delete Modal -->
<form id="deleteForm" action="" method="post">
    <input type="hidden" name="_method" value="DELETE" />
    <div id="deleteModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title">Delete Reseller</h4>
                </div>
                <div class="modal-body">
                    <p>Are you sure you want to delete this reseller?</p>
                    <input id="ResellerCode" name="ResellerCode" type="hidden" />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-danger">Delete</button>
                </div>
            </div>
        </div>
    </div>
</form>

@section JAVASCRIPT{
    <script src="~/Content/plugins/datatables-1.10.2/media/js/jquery.dataTables.min.js"></script>
    <script src="~/Content/plugins/datatables-1.10.2/media/js/dataTables.bootstrap.js"></script>
    <script src="~/Content/plugins/moment/moment-with-locales.js"></script>
    <script src="~/Content/plugins/form-parsley-new/parsley.min.js"></script>
    <script src="~/Content/plugins/form-select2/select2.min.js"></script>
    <script src="~/Content/plugins/blockUI/jquery.blockUI.js"></script>
    <script type="text/javascript">
    $(document).ready(function () {

        // unblock when ajax activity stops
        $(document).ajaxStop($.unblockUI);

        $("#dataTable").DataTable({
            "serverSide": true,
            "processing": true,
            "ajax": {
                type: 'GET',
                dataType: 'json'
            },
            "columns": [
                {
                    "data": "companyName", "render": function (data, type, full, meta) {
                        return '<a href="@Url.Content("~/companies/")' + full["companyCode"] + '">' + data + '</a>';
                    }
                },
                { "data": "companyCode" },
                {
                    "data": "created", "render": function (data, type, full, meta) {
                        return moment(data).format('LLLL');
                    }
                },
                { "data": "totalCompanies" },
                {
                    "data": "companyCode", "orderable": false, "className": "text-right", "render": function (data, type, full, meta) {
                        return GetButton(data);
                    }
                }
            ]
        });

        $(".populate").select2({ width: 'resolve' });
    });

    function GetReseller(element) {

        // Show wait message
        $.blockUI({ message: $('#waitMessage') });

        var resellerCode = $(element).data("id");
        var request = $.ajax({
            url: "@Url.Content("~/resellers/")" + resellerCode,
            type: "GET",
            dataType: "json"
        });

        request.done(function (data) {
            $('#editForm input[name="CompanyCode"]').val(resellerCode);
            $('#editForm input[name="CompanyName"]').val(data.reseller.companyName);
            $('#editForm input[name="AdminName"]').val(data.reseller.adminName);
            $('#editForm input[name="AdminEmail"]').val(data.reseller.adminEmail);
            $('#editForm input[name="PhoneNumber"]').val(data.reseller.phoneNumber);
            $('#editForm input[name="Street"]').val(data.reseller.street);
            $('#editForm input[name="City"]').val(data.reseller.city);
            $('#editForm input[name="State"]').val(data.reseller.state);
            $('#editForm input[name="ZipCode"]').val(data.reseller.zipCode);
            $('#editForm input[name="Website"]').val(data.reseller.website);

            var country = data.reseller.country;
            if (!country) {
                $('#editForm select[name="Country"]').select2("val", "US");
            } else {
                $('#editForm select[name="Country"]').select2("val", data.reseller.country.toUpperCase());
            }

            // Only show modal if successful
            $("#editModal").modal();
        });

        request.fail(function (jqXHR, textStatus) {
            alert(textStatus);
        });
    }

    function SetCompanyCode(element, form) {
        var companyCode = $(element).data("id");
        $(form).find("input[id='ResellerCode']").val(companyCode);
    }

    function GetButton(companyCode) {
        return '<div class="btn-group"> \
                            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown"> \
                                Modify <span class="caret"></span> \
                            </button> \
                            <ul class="dropdown-menu" role="menu"> \
                                <li><a href="#" data-id="' + companyCode + '" onclick="javascript:GetReseller(this);">Edit</a></li> \
                                <li class="divider"></li> \
                                <li><a href="#deleteModal" data-toggle="modal" data-id="' + companyCode + '" onclick="javascript:SetCompanyCode(this, \'#deleteForm\');">Delete</a></li> \
                            </ul> \
                    </div>';
    }
    </script>
}