<nav id="page-leftbar" role="navigation">
    <ul class="acc-menu" id="sidebar">
        <li><a href="~/dashboard"><i class="fa fa-home"></i> <span>Dashboard</span></a></li>
        <li><a href="~/dashboard"><i class="fa fa-building"></i> <span>Companies</span></a></li>
        <li>
            <a href="javascript:;"><i class="fa fa-pencil"></i> <span>Plans</span> </a>
            <ul class="acc-menu">
                <li><a href="~/plans/citrix">Citrix</a></li>
                <li><a href="~/plans/company">Company</a></li>
                <li>
                    <a href="javascript:;">Exchange</a>
                    <ul class="acc-menu">
                        <li><a href="~/plans/exchange/mailbox">Mailbox Plans</a></li>
                        <li><a href="~/plans/exchange/activesync">Activesync Plans</a></li>
                    </ul>
                </li>
                <li><a href="~/plans/lync">Lync</a></li>
            </ul>
        </li>
        <li><a href="~/reports"><i class="fa fa-bar-chart-o"></i> <span>Reports</span></a></li>
        <li class="divider"></li>
        <li><a href="~/company/{CompanyCode}"><i class="fa fa-dashboard"></i> <span>Overview</span></a></li>
        <li><a href="~/company/domains/{CompanyCode}"><i class="fa fa-globe"></i> <span>Domains</span></a></li>
        <li><a href="~/company/users/{CompanyCode}"><i class="fa fa-user"></i> <span>Users</span></a></li>
        <li>
            <a href="javascript:;"><i class="fa fa-envelope"></i> <span>Exchange</span> </a>
            <ul class="acc-menu">
                <li><a href="~/company/exchange/contacts/{CompanyCode}">Contacts</a></li>
                <li><a href="~/company/exchange/groups/{CompanyCode}">Distribution Groups</a></li>
                <li><a href="~/company/exchange/resourcemailboxes/{CompanyCode}">Resource Mailboxes</a></li>
                <li><a href="~/company/exchange/publicfolders/{CompanyCode}">Public Folders</a></li>
            </ul>
        </li>
        <li><a href="~/company/citrix/{CompanyCode}"><i class="fa fa-tablet"></i> <span>Citrix</span></a></li>
        <li><a href="~/company/billing/{CompanyCode}"><i class="fa fa-money"></i> <span>Billing</span></a></li>
    </ul>
</nav>