@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<dynamic>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>CloudPanel</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="CloudPanel">
    <meta name="author" content="KnowMoreIT - Jacob Dixon">

    <!-- <link href="~/content/less/styles.less" rel="stylesheet/less" media="all"> -->
    <link rel="stylesheet" href="~/content/css/styles.css">
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600' rel='stylesheet' type='text/css'>

    <!-- <script type="text/javascript" src="~/content/js/less.js"></script> -->
</head>
<body class="focusedform">
    <form id="loginForm" action="@Url.Content("~/login")" method="post">
        <div class="verticalcenter">
            <a href="index.htm"><img src="~/content/img/logo-big.png" alt="Logo" class="brand" /></a>
            <div class="panel panel-primary">
                <div class="panel-body">
                    <h4 class="text-center" style="margin-bottom: 25px;">Log in to get started</h4>
                    <div class="form-horizontal" style="margin-bottom: 0px !important;">
                        <div class="form-group">
                            <div class="col-sm-12">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-user"></i></span>
                                    <input type="text" class="form-control" id="username" name="username" placeholder="Username">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-12">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                                    <input type="password" class="form-control" id="password" name="password" placeholder="Password">
                                </div>
                            </div>
                        </div>
                        <div class="clearfix">
                            <div class="pull-right"><label><input type="checkbox" style="margin-bottom: 20px" checked=""> Remember Me</label></div>
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <div class="pull-right">
                        <input id="btnLogin" type="submit" value="Log In" class="btn btn-primary" />
                    </div>
                </div>
            </div>
        </div>
    </form>
</body>
</html>