@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<dynamic>

@{
    Layout = "__master.cshtml";
}
@section HEAD{
    <link href="~/Content/plugins/datatables-1.10.2/media/css/jquery.dataTables.bootstrap.css" rel="stylesheet" />
}

<div id="page-heading">
    <ol class="breadcrumb">
        <li class="active">Dashboard</li>
    </ol>
</div>

<div class="container">
    <!-- Top -->
    <div id="badgeRow" class="row">
        <div class="col-md-2">
            <a href="#" class="shortcut-tiles tiles-info">
                <div class="tiles-body">
                    <div class="pull-left"><i class="fa fa-user"></i></div>
                    <div class="pull-right"><span id="badgeResellers" class="badge"></span></div>
                </div>
                <div class="tiles-footer">
                    Resellers
                </div>
            </a>
        </div> <!-- Resellers -->
        <div class="col-md-2">
            <a href="#" class="shortcut-tiles tiles-orange">
                <div class="tiles-body">
                    <div class="pull-left"><i class="fa fa-building"></i></div>
                    <div class="pull-right"><span id="badgeCompanies" class="badge"></span></div>
                </div>
                <div class="tiles-footer">
                    Companies
                </div>
            </a>
        </div> <!-- Companies-->
        <div class="col-md-2">
            <a href="#" class="shortcut-tiles tiles-success">
                <div class="tiles-body">
                    <div class="pull-left"><i class="fa fa-users"></i></div>
                    <div class="pull-right"><span id="badgeUsers" class="badge"></span></div>
                </div>
                <div class="tiles-footer">
                    Users
                </div>
            </a>
        </div> <!-- Users -->
        <div class="col-md-2">
            <a href="#" class="shortcut-tiles tiles-magenta">
                <div class="tiles-body">
                    <div class="pull-left"><i class="fa fa-envelope"></i></div>
                    <div class="pull-right"><span id="badgeMailboxes" class="badge"></span></div>
                </div>
                <div class="tiles-footer">
                    Mailboxes
                </div>
            </a>
        </div> <!-- Mailboxes -->
        <div class="col-md-2">
            <a href="#" class="shortcut-tiles tiles-midnightblue">
                <div class="tiles-body">
                    <div class="pull-left"><i class="fa fa-upload"></i></div>
                    <div class="pull-right"><span id="badgeMailboxAllocated" class="badge"></span></div>
                </div>
                <div class="tiles-footer">
                    Mailbox Allocated
                </div>
            </a>
        </div> <!-- Mailbox Space Allocated -->
        <div class="col-md-2">
            <a href="#" class="shortcut-tiles tiles-green">
                <div class="tiles-body">
                    <div class="pull-left"><i class="fa fa-download"></i></div>
                    <div class="pull-right"><span id="badgeMailboxUsed" class="badge"></span></div>
                </div>
                <div class="tiles-footer">
                    Mailbox Used
                </div>
            </a>
        </div> <!-- Mailbox Space Used -->
    </div>

    <!-- Graphs -->
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-info">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12 clearfix">
                            <h4 class="pull-left" style="margin: 0 0 20px;">System History</h4>
                            <div class="btn-group pull-right">
                                <a href="javascript:GetHistoryOverview(6);" class="btn btn-default btn-sm">6 Months</a>
                                <a href="javascript:GetHistoryOverview(12);" class="btn btn-default btn-sm">12 Months</a>
                                <a href="javascript:GetHistoryOverview(24);" class="btn btn-default btn-sm">24 Months</a>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div id="historyOverview" style="height:250px;"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        @if (CloudPanel.Base.Config.Settings.ExchangeModule)
        {
            <div class="col-md-6">
            </div>
            <div class="col-md-6">
                <div class="panel panel-inverse">
                    <div class="panel-heading">
                        <h4>Top Companies</h4>
                    </div>
                    <div class="panel-body">
                        <div id="topCompanies" style="height:250px;"></div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

@section JAVASCRIPT{
    <script src="~/Content/plugins/charts-highcharts/js/highcharts.js"></script>
    <script src="~/Content/plugins/moment/moment-with-locales.js"></script>
    <script type="text/javascript">
        var exchangeModule = @CloudPanel.Base.Config.Settings.ExchangeModule.ToString().ToLower()

        $(document).ready(function () {

            // Get the tiles data at the top
            GetTiles();

            // Get the overview chart
            GetHistoryOverview(6);

            // Get the top companies
            GetTopCompanies(5);

        });

        function GetTiles() {
            $.getJSON("@Url.Content("~/dashboard/reseller/all")", function (data) {
                $("#badgeCompanies").text(data.companies);
                $("#badgeUsers").text(data.users);
                $("#badgeMailboxes").text(data.mailboxes);
                $("#badgeMailboxAllocated").text(data.mailboxAllocated);
                $("#badgeMailboxUsed").text(data.mailboxUsed);
            });
        }

        function GetHistoryOverview(pastMonths) {
            $.getJSON("@Url.Content("~/dashboard/reseller/history/")" + pastMonths, function (data) {
                var area = new Highcharts.Chart({
                    chart: { type: 'areaspline', renderTo: 'historyOverview' },
                    title: { text: '' },
                    xAxis: {
                        type: 'datetime', dateTimeLabelFormats: { // don't display the dummy year
                            month: '%e. %b',
                            year: '%b'
                        }, plotBands: [{ from: 4.5, to: 6.5, color: 'rgba(68, 170, 213, .2)' }]
                    },
                    yAxis: { title: { text: '' } },
                    tooltip: { shared: true },
                    credits: { enabled: false },
                    plotOptions: { areaspline: { fillOpacity: 0.5 } }
                });

                var users = [], mailboxes = [], citrix = [];
                $.each(data, function (i, val) {
                    if (val.retrieved.length) {
                        var check = moment(val.retrieved, 'YYYY/MM/DD');

                        if (val.hasOwnProperty("userCount"))
                            users.push([check.valueOf(), val.userCount]);

                        if (val.hasOwnProperty("mailboxCount"))
                            mailboxes.push([check.valueOf(), val.mailboxCount]);

                        if (val.hasOwnProperty("citrixCount"))
                            citrix.push([check.valueOf(), val.citrixCount]);
                    }
                });

                if (users.length > 0)
                    area.addSeries({ name: "Users", data: users });

                if (mailboxes.length > 0)
                    area.addSeries({ name: "Mailboxes", data: mailboxes });

                if (citrix.length > 0)
                    area.addSeries({ name: "Citrix", data: citrix });

                area.redraw();
            });
        }

        function GetTopCompanies(topCompanies) {
            $.getJSON("@Url.Content("~/dashboard/reseller/companies/")" + topCompanies, function (data) {
                var companies = [], userCount = [];
                $.each(data, function (i, val) {
                    companies.push(val.companyName);
                    userCount.push(val.userCount);
                });

                var bar = new Highcharts.Chart({
                    chart: { type: 'bar', renderTo: 'topCompanies' },
                    title: { text: '' },
                    xAxis: { title: { text: null }, categories: companies },
                    yAxis: { labels: { overflow: 'justify' }, title: { text: '' } },
                    plotOptions: { bar: { dataLabels: { enabled: true } } },
                    legend: {
                        layout: 'vertical', align: 'right', verticalAlign: 'top',
                        floating: true,
                        borderWidth: 1,
                        backgroundColor: ((Highcharts.theme && Highcharts.theme.legendBackgroundColor) || '#FFFFFF'),
                        shadow: true
                    },
                    credits: { enabled: false },
                    series: [{
                        name: "Users",
                        data: userCount
                    }]
                });
            });
        }
    </script>
}