@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<dynamic>

@{
    Layout = "__master.cshtml";
}

@section HEAD{
    <link href="~/Content/plugins/datatables-1.10.2/media/css/jquery.dataTables.bootstrap.css" rel="stylesheet" />
    <link href="~/Content/plugins/form-parsley-new/parsley.css" rel="stylesheet" />
    <style type="text/css">
        span.tab-space {
            padding-left: 0.5em;
        }
        td.details-control {
	        background: url('@Url.Content("~/Content/img/details_open.png")') no-repeat center center;
	        cursor: pointer;
        }
        tr.shown td.details-control {
	        background: url('@Url.Content("~/Content/img/details_close.png")') no-repeat center center;
        }
    </style>
}

<div id="page-heading">
    <ol class="breadcrumb">
        <li><a href="~/dashboard">Dashboard</a></li>
        <li class="active">Citrix Plans</li>
    </ol>

    <h1>Citrix Plans</h1>
</div>

<form id="form" action="" method="post" data-parsley-validate>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        Desktop Groups
                        <div class="options">
                            <a href="javascript:ReloadAll();"><i class="fa fa-refresh"></i></a>
                        </div>
                    </div>
                    <div class="panel-body collapse in">
                        <table id="groupsTable" cellpadding="0" cellspacing="0" border="0" class="table table-bordered datatables">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>Name</th>
                                    <th>Companies</th>
                                    <th>Desktops</th>
                                    <th>Applications</th>
                                    <th>Total Users</th>
                                    <th>Last Retrieved</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td></td>
                                    <td>Loading...</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="panel-footer"></div>
                </div>
            </div>
        </div>
    </div>
</form>

@section JAVASCRIPT{
    <script src="~/Content/plugins/datatables-1.10.2/media/js/jquery.dataTables.min.js"></script>
    <script src="~/Content/plugins/datatables-1.10.2/media/js/dataTables.bootstrap.js"></script>
    <script src="~/Content/plugins/form-parsley-new/parsley.min.js"></script>
    <script src="~/Content/plugins/moment/moment-with-locales.js"></script>
    <script src="~/Content/js/cloudpanel.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            LoadCitrixPlans();
        });

        function LoadCitrixPlans() {
            var groupsTable = $("#groupsTable").DataTable({
                "dom": "<'row'<'col-xs-6'l><'col-xs-6'f>r>t<'row'<'col-xs-6'i><'col-xs-6'p>>",
                "autoWidth": false,
                "language": {
                    "lengthMenu": "_MENU_ records per page",
                    "search": ""
                },
                "paging": false,
                "order": [[1, 'asc']],
                "serverSide": true,
                "processing": true,
                "ajax": {
                    type: 'GET',
                    url: "",
                    dataType: 'json',
                    error: function (xhr) {
                        console.log(xhr);
                        ShowError(xhr);
                    }
                },
                "columns": [
                   { "data": "uid", "class": "details-control", "orderable": false, "defaultContent": "", "render": function () { return "" } },
                   { "data": "name", "render": function (data, type, full, meta) { return '<a href="@Url.Content("~/plans/citrix/group/")'+full["uid"]+'">'+data+'</a>' } },
                   { "data": "companyCount" },
                   { "data": "desktopCount" },
                   { "data": "applicationCount" },
                   { "data": "totalUsers" },
                   { "data": "lastRetrieved", "render": function (data, type, full, meta) { return moment(data).format('lll'); } },
                ]
            });

            // Renders child rows
            $('#groupsTable tbody').on('click', 'td.details-control', function () {
                var tr = $(this).closest('tr');
                var row = groupsTable.row(tr);

                if (row.child.isShown()) {
                    row.child.hide();
                    tr.removeClass('shown');
                }
                else {
                    row.child(FormatChildTable(row.data())).show();
                    tr.addClass('shown');
                }
            });
        }

        function FormatChildTable(d) {
            var companyPanel = '<h3>Companies</h3><div class="panel-body"><div class="list-group">';
            if (d.companies.length) {
                $.each(d.companies, function (k, v) {
                    companyPanel += '<a href="@Url.Content("~/company/")' + v.companyCode + '/overview" class="list-group-item"><span class="badge">' + v.totalUsers + '</span> <i class="fa fa-building"></i> ' + v.companyName + ' </a>';
                });
            }
            companyPanel += '</div></div><br/><br/>';

            return companyPanel;
        }

        function ReloadAll() {
            $.getJSON(window.location.href + "/all", function () {
                ReloadTable("groupsTable");
            })
            .fail(function (data) {
                ShowError(data);
            });
        }
    </script>
}