@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<dynamic>

@{
    Layout = "__master.cshtml";
}

@section HEAD{

}

<div id="page-heading">
    <ol class="breadcrumb">
        <li><a href="~/dashboard">Dashboard</a></li>
        <li>Admin</li>
        <li class="active">Import Companies</li>
    </ol>

    <h1>Import Companies</h1>
</div>

<form id="form" action="" method="post">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-primary">
                    <div class="panel-heading">Import Companies</div>
                    <div class="panel-body">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>Organizational Unit Name</th>
                                    <th>Distinguished Name</th>
                                    <th>Company Plan</th>
                                    <th>Is Exchange Enabled?</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model.Companies != null)
                                {
                                    int count = 0;
                                    foreach (CloudPanel.Base.AD.OrganizationalUnit company in Model.Companies)
                                    {
                                        <tr>
                                            <td><input name="IsChecked[@count]" type="checkbox" value="false" /></td>
                                            <td><input name="CompanyCode[@count]" type="text" value="@company.Name" class="form-control" readonly /></td>
                                            <td><input name="DistinguishedName[@count]" type="text" value="@company.DistinguishedName" class="form-control" readonly /></td>
                                            <td>
                                                <select name="CompanyPlan[@count]" class="form-control">
                                                    @foreach (var plan in CloudPanel.Modules.PlansModules.CompanyPlanModule.GetCompanyPlans())
                                                    {
                                                        <option value="@plan.OrgPlanID">@plan.OrgPlanName</option>
                                                    }
                                                </select>
                                            </td>
                                            <td><input name="IsExchangeEnabled[@count]" type="checkbox" value="false" /></td>
                                        </tr>
                                    
                                        count++;
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                    <div class="panel-footer">
                        <div class="row">
                            <div class="btn-toolbar text-right">
                                <button class="btn-primary btn" type="submit">Import</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

@section JAVASCRIPT{
    <script type="text/javascript">
        $(document).ready(function () {
            $("input[type=checkbox]").click(function () {
                if ($(this).is(':checked')) {
                    $(this).val("true");
                } else {
                    $(this).val("false");
                }
            });
        });
    </script>
}